@keyframes rotate {
  0% {
    transform: rotateY(0deg);
  }
  20% {
    transform: rotateY(360deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
@keyframes appearan {
  from {
    padding: 300px 0;
  }
  to {
    padding: 20px 0;
    opacity: 1;
  }
}
