@import url(./keyframes.css);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
span {
  cursor: default;
}

h1 {
  font-size: 54px;
}

img {
  pointer-events: none;
  max-width: 100%;
  height: auto;
}

hr {
  border: none;
}

button {
  border: none;
  background: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
nav {
  list-style-type: none;
}

html {
  overflow-x: hidden;
  font-family: "Roboto Slab", serif;
  background: fixed url(../img/bg__2.webp) no-repeat;
  background-size: 100%;
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main {
  height: 90vh;
  padding: 20px 0 100px;
}
.main .container {
  justify-content: center;
}
.main__logo {
  max-width: 400px;
  width: 100%;
  filter: sepia(0.3);
  animation: appearan 1.5s 10ms ease-out;
}

.nav {
  position: sticky;
  z-index: 999;
  top: 0;
  width: 100%;
  background-color: white;
  color: #85282a;
  font-weight: 600;
  padding: 20px 0 10px;
}
.nav .list {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  width: 100%;
}
.nav .list__link {
  border-radius: 20px;
  margin-left: 10px;
}
.nav .list__link a {
  display: block;
  padding: 5px 20px;
  font-size: 20px;
}
.nav .list__link:hover {
  box-shadow: 6px 6px 6px 0 rgba(0, 0, 0, 0.3), -4px -4px 4px 0 rgba(166, 165, 165, 0.3);
}
.nav .delivery {
  font-size: 30px;
  text-transform: uppercase;
  position: relative;
}
.nav .delivery__link--caption {
  position: absolute;
  top: -5px;
  width: 100%;
  font-size: 15px;
  left: 50%;
  transform: translate(-35%, -50%);
}
.nav .delivery__link:hover {
  text-decoration: underline;
}

.category {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 60px 0 10px;
  color: #85282a;
  align-items: center;
  font-size: 40px;
}
.category__title {
  text-align: center;
  margin: 0 50px;
}
.category__line {
  width: 100%;
  height: 4px;
  background: #85282a;
}

.box {
  background-color: white;
  margin: 20px;
  padding: 20px;
  max-width: 280px;
  width: 100%;
  border-radius: 20px;
  color: #85282a;
  box-shadow: 12px 12px 12px 0 rgba(0, 0, 0, 0.3), -8px -8px 8px 0 rgba(166, 165, 165, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.box__wrapper {
  display: flex;
  flex-direction: column;
}
.box__wrapper--img {
  width: 240px;
  height: 240px;
  transition: 0.4s;
}
.box__wrapper--title {
  width: 100%;
  margin: 10px 0 20px;
}
.box__wrapper--new {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 10px;
  background-color: red;
  color: white;
  font-weight: 900;
  font-size: 20px;
  border-radius: 20px 0 20px 0;
  animation: rotate 2s infinite 0ms linear;
}
.box__wrapper--pepper {
  position: absolute;
  width: 40px;
  top: 261px;
  left: 215px;
}
.box__numbers {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-self: baseline;
  margin-top: 20px;
}
.box__numbers span {
  width: 50%;
}
.box__numbers span:nth-child(odd) {
  font-weight: 900;
  padding: 5px;
  border: 2px solid #85282a;
  border-radius: 50px;
  text-align: center;
  transition: 0.6s;
}
.box__numbers span:nth-child(even) {
  text-align: end;
  padding: 5px 0;
}
.box:hover .box__numbers--cost {
  background-color: #85282a;
  color: white;
}

.pizza {
  background: white;
}
.pizza__container {
  margin-bottom: 100px;
}
.pizza__box:hover .box__wrapper--img {
  transform: rotateZ(30deg);
}
.pizza .ingridients {
  padding-bottom: 100px;
  background: white;
  color: #85282a;
}
.pizza .ingridients .container {
  justify-content: space-around;
  flex-wrap: wrap;
}
.pizza .ingridients .category {
  color: #85282a;
  padding: 20px;
  margin-bottom: 20px;
}
.pizza .ingridients .category hr {
  max-width: 340px;
  background-color: #85282a;
}
.pizza .ingridients__box {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  width: 100%;
  box-shadow: 6px 6px 6px 0 rgba(0, 0, 0, 0.3), -4px -4px 4px 0 rgba(166, 165, 165, 0.3);
  margin: 0 10px 10px;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 14px;
}
.pizza .ingridients__box .wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.pizza .ingridients__box .wrapper__numbers {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-self: baseline;
}
.pizza .ingridients__box .wrapper__numbers span {
  width: 50%;
}
.pizza .ingridients__box .wrapper__numbers span:nth-child(odd) {
  font-weight: 700;
  padding: 3px;
  border: 2px solid #85282a;
  border-radius: 50px;
  text-align: center;
  transition: 0.6s;
}
.pizza .ingridients__box .wrapper__numbers span:nth-child(even) {
  text-align: end;
  padding: 5px 0;
}
.pizza .ingridients__box--img {
  width: 70px;
  margin-left: 20px;
}
.pizza .ingridients__box:hover .wrapper__numbers--cost {
  background-color: #85282a;
  color: white;
}

.burger {
  background: white;
  padding-bottom: 100px;
}

.lunch {
  background: white;
  color: #85282a;
}
.lunch .category {
  color: #85282a;
  display: flex;
  flex-direction: column;
}
.lunch .category__line {
  background: #85282a;
}
.lunch__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lunch__wrapper--title {
  margin-top: 20px;
}
.lunch__wrapper .item {
  max-width: 800px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
.lunch__wrapper .item__text {
  max-width: 550px;
  padding: 0 120px 0 0;
  width: 100%;
}
.lunch__wrapper .item span {
  width: 150px;
  align-self: center;
}

.kitchen {
  background: white;
  color: #85282a;
  padding-bottom: 100px;
}
.kitchen .container {
  display: flex;
  padding: 30px 0;
}
.kitchen__man {
  width: 45%;
  height: fit-content;
}
.kitchen__wrapper {
  width: 50%;
}
.kitchen__wrapper--title {
  text-align: center;
}
.kitchen .item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
.kitchen .item__text {
  width: 70%;
}
.kitchen .item span {
  margin-left: 10px;
  align-self: center;
}
.kitchen .category {
  color: #85282a;
}
.kitchen .category__line {
  background: #85282a;
}
.kitchen__drinks {
  justify-content: flex-start;
  align-items: flex-start;
  width: 33%;
}
.kitchen__drinks .item__text {
  padding: 0;
}
.kitchen__drinks--img {
  width: 33%;
}/*# sourceMappingURL=main.css.map */