@import url(./keyframes.css);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  background: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
nav {
  list-style-type: none;
}

html {
  background-color: white;
  overflow-x: hidden;
  font-family: "Roboto Slab", serif;
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: auto;
  display: flex;
}

.main {
  background: linear-gradient(180deg, transparent, 90%, #a6876f, 99.9%, #a6876f);
  background-size: cover;
}
.main .container {
  height: 74ch;
}
.main__block {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.main__block--img {
  max-width: 500px;
  width: 100%;
  margin-bottom: 50px;
  filter: sepia(0.3);
}
.main__block--text {
  max-width: 500px;
  width: 100%;
  color: #6a3d34;
  font-size: 20px;
}

.menu {
  background-color: #a6876f;
  position: relative;
}
.menu .container {
  flex-wrap: wrap;
  justify-content: space-between;
}
.menu__nav {
  position: sticky;
  z-index: 999;
  top: 0;
  width: 100%;
  background-color: #a6876f;
  color: white;
  padding: 20px 0 10px;
}
.menu__nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__nav .delivery {
  font-size: 30px;
  text-transform: uppercase;
  position: relative;
}
.menu__nav .delivery__link--caption {
  position: absolute;
  top: -5px;
  width: 100%;
  font-size: 15px;
  left: 50%;
  transform: translate(-35%, -50%);
}
.menu__nav .delivery__link:hover {
  text-decoration: underline;
}
.menu__nav .list {
  display: flex;
  justify-content: space-between;
  max-width: 700px;
  width: 100%;
}
.menu__nav .list__link {
  padding: 5px 20px;
  border-radius: 20px;
  margin-left: 10px;
  font-size: 20px;
}
.menu__nav .list__link:hover {
  background-color: white;
  color: #a6876f;
  box-shadow: 0px 0px 26px -1px #6a3d34;
}
.menu__category {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 60px 0 10px;
  color: white;
  align-items: center;
  font-size: 40px;
}
.menu__category--title {
  margin: 0 50px;
}
.menu__category--line {
  width: 100%;
  height: 4px;
  background: white;
}
.menu .box {
  background-color: white;
  margin: 20px;
  padding: 20px;
  max-width: 280px;
  width: 100%;
  border-radius: 20px;
  color: #a6876f;
  box-shadow: 0px 0px 26px -1px #6a3d34;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.menu .box__wrapper {
  display: flex;
  flex-direction: column;
}
.menu .box__wrapper--img {
  width: 240px;
  height: 240px;
  transition: 0.4s;
}
.menu .box__wrapper--title {
  width: 100%;
  margin: 10px 0 20px;
}
.menu .box__wrapper--new {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 10px;
  background-color: red;
  color: white;
  font-weight: 900;
  font-size: 20px;
  border-radius: 20px 0 20px 0;
  animation: rotate 2s infinite 0ms linear;
}
.menu .box__wrapper--pepper {
  position: absolute;
  width: 40px;
  top: 261px;
  left: 215px;
}
.menu .box__numbers {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-self: baseline;
  margin-top: 20px;
}
.menu .box__numbers span {
  width: 50%;
}
.menu .box__numbers span:nth-child(odd) {
  font-weight: 900;
  padding: 5px;
  border: 2px solid #a6876f;
  border-radius: 50px;
  text-align: center;
  transition: 0.6s;
}
.menu .box__numbers span:nth-child(even) {
  text-align: end;
  padding: 5px 0;
}
.menu .box:hover .box__wrapper--img {
  transform: rotateZ(30deg);
}
.menu .box:hover .box__numbers--cost {
  background-color: #a6876f;
  color: white;
}
.menu .ingridients {
  background: white;
  color: #a6876f;
}
.menu .ingridients .container {
  justify-content: space-around;
  flex-wrap: wrap;
}
.menu .ingridients__category {
  color: #a6876f;
  padding: 20px;
  margin-bottom: 20px;
}
.menu .ingridients__category hr {
  background-color: #a6876f;
}
.menu .ingridients__box {
  display: flex;
  justify-content: space-between;
  max-width: 390px;
  width: 100%;
  box-shadow: 0px 0px 15px -1px #a6876f;
  margin: 0 20px 20px;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 14px;
}
.menu .ingridients__box .wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu .ingridients__box .wrapper__numbers {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-self: baseline;
}
.menu .ingridients__box .wrapper__numbers span {
  width: 50%;
}
.menu .ingridients__box .wrapper__numbers span:nth-child(odd) {
  font-weight: 700;
  padding: 3px;
  border: 2px solid #a6876f;
  border-radius: 50px;
  text-align: center;
  transition: 0.6s;
}
.menu .ingridients__box .wrapper__numbers span:nth-child(even) {
  text-align: end;
  padding: 5px 0;
}
.menu .ingridients__box--img {
  width: 70px;
  margin-left: 20px;
}
.menu .ingridients__box:hover .wrapper__numbers--cost {
  background-color: #a6876f;
  color: white;
}/*# sourceMappingURL=main.css.map */