@import url(./keyframes.css);
$main__color: white;
$text__color: #85282a;
$contrast__color: white;
$logo__color: #85282a;
$little__shadow: 6px 6px 6px 0 rgba(0, 0, 0, 0.3),
  -4px -4px 4px 0 rgba(166, 165, 165, 0.3);
$big__shadow: 12px 12px 12px 0 rgba(0, 0, 0, 0.3),
  -8px -8px 8px 0 rgba(166, 165, 165, 0.3);

// #a6876f - кофейный который
// logo__font: https://www.fontsquirrel.com/fonts/carrois-gothic;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
span {
  cursor: default;
}

h1 {
  font-size: 54px;
}

img {
  pointer-events: none;
  max-width: 100%;
  height: auto;
}

hr {
  border: none;
}

button {
  border: none;
  background: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
nav {
  list-style-type: none;
}

html {
  overflow-x: hidden;
  font-family: "Roboto Slab", serif;
  background: fixed url(../img/bg__2.webp) no-repeat;
  background-size: 100%;
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
//  ! .......... MAIN ..............
.main {
  // background: linear-gradient(
  //   180deg,
  //   $contrast__color,
  //   90%,
  //   $main__color,
  //   99.9%,
  //   $main__color
  // );
  // background-size: cover;
  height: 90vh;
  padding: 20px 0 100px;
  .container {
    justify-content: center;
  }
  &__logo {
    max-width: 400px;
    width: 100%;
    // * развлекаемся с лого
    // filter: hue-rotate(45deg);
    filter: sepia(0.3);
    animation: appearan 1.5s 10ms ease-out;
  }
}
//  ! .......... NAVIGATION .............
.nav {
  position: sticky;
  z-index: 999;
  top: 0;
  width: 100%;
  background-color: $main__color;
  color: $text__color;
  font-weight: 600;
  padding: 20px 0 10px;
  .list {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    width: 100%;
    &__link {
      border-radius: 20px;
      margin-left: 10px;
      a {
        display: block;
        padding: 5px 20px;
        font-size: 20px;
      }
      &:hover {
        box-shadow: $little__shadow;
      }
    }
  }
  .delivery {
    font-size: 30px;
    text-transform: uppercase;
    position: relative;
    &__link {
      &--caption {
        position: absolute;
        top: -5px;
        width: 100%;
        font-size: 15px;
        left: 50%;
        transform: translate(-35%, -50%);
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
// !............ CATEGORY .....................
.category {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 60px 0 10px;
  color: $logo__color;
  align-items: center;
  font-size: 40px;
  &__title {
    text-align: center;
    margin: 0 50px;
  }
  &__line {
    width: 100%;
    height: 4px;
    background: $logo__color;
  }
}
// ! ............. BOX .......................
.box {
  background-color: $main__color;
  margin: 20px;
  padding: 20px;
  max-width: 280px;
  width: 100%;
  border-radius: 20px;
  color: $text__color;
  box-shadow: $big__shadow;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  &__wrapper {
    display: flex;
    flex-direction: column;
    &--img {
      width: 240px;
      height: 240px;
      transition: 0.4s;
    }
    &--title {
      width: 100%;
      margin: 10px 0 20px;
    }
    &--new {
      position: absolute;
      top: 10px;
      left: 10px;
      padding: 5px 10px;
      background-color: red;
      color: white;
      font-weight: 900;
      font-size: 20px;
      border-radius: 20px 0 20px 0;
      animation: rotate 2s infinite 0ms linear;
    }
    &--pepper {
      position: absolute;
      width: 40px;
      top: 261px;
      left: 215px;
    }
  }
  &__numbers {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-self: baseline;
    margin-top: 20px;
    span {
      width: 50%;
      &:nth-child(odd) {
        font-weight: 900;
        padding: 5px;
        border: 2px solid $text__color;
        border-radius: 50px;
        text-align: center;
        transition: 0.6s;
      }
      &:nth-child(even) {
        text-align: end;
        padding: 5px 0;
      }
    }
  }
  &:hover .box__numbers--cost {
    background-color: $text__color;
    color: $main__color;
  }
}
// !.............. PIZZA ...................
.pizza {
  background: $main__color;
  &__container {
    margin-bottom: 100px;
  }
  &__box:hover .box__wrapper--img {
    transform: rotateZ(30deg);
  }
  // ? ..............INGRIDIENTS................
  .ingridients {
    padding-bottom: 100px;
    background: $contrast__color;
    color: $text__color;
    .container {
      justify-content: space-around;
      flex-wrap: wrap;
    }
    .category {
      color: $text__color;
      padding: 20px;
      margin-bottom: 20px;
      hr {
        max-width: 340px;
        background-color: $text__color;
      }
    }
    &__box {
      display: flex;
      justify-content: space-between;
      max-width: 400px;
      width: 100%;
      box-shadow: $little__shadow;
      margin: 0 10px 10px;
      padding: 5px 10px;
      border-radius: 20px;
      font-size: 14px;
      .wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &__numbers {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-self: baseline;
          span {
            width: 50%;
            &:nth-child(odd) {
              font-weight: 700;
              padding: 3px;
              border: 2px solid $text__color;
              border-radius: 50px;
              text-align: center;
              transition: 0.6s;
            }
            &:nth-child(even) {
              text-align: end;
              padding: 5px 0;
            }
          }
        }
      }
      &--img {
        width: 70px;
        margin-left: 20px;
      }
      &:hover .wrapper__numbers--cost {
        background-color: $text__color;
        color: $main__color;
      }
    }
  }
}
// ! ............. Burger ..............
.burger {
  background: $main__color;
  padding-bottom: 100px;
}
// ! .............. LUNCH .................
.lunch {
  background: $contrast__color;
  color: $logo__color;
  .category {
    color: $logo__color;
    display: flex;
    flex-direction: column;
    &__line {
      background: $logo__color;
    }
  }
  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &--title {
      margin-top: 20px;
    }
    .item {
      max-width: 800px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 10px 20px;
      &__text {
        max-width: 550px;
        padding: 0 120px 0 0;
        width: 100%;
      }
      span {
        width: 150px;
        align-self: center;
      }
    }
  }
}
// ! ................ KITCHEN ..............
.kitchen {
  background: $main__color;
  color: $text__color;
  padding-bottom: 100px;
  .container {
    display: flex;
    padding: 30px 0;
  }
  &__man {
    width: 45%;
    height: fit-content;
  }
  &__wrapper {
    width: 50%;
    &--title {
      text-align: center;
    }
  }
  .item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    &__text {
      width: 70%;
    }
    span {
      margin-left: 10px;
      align-self: center;
    }
  }
  .category {
    color: $text__color;
    &__line {
      background: $text__color;
    }
  }
  &__drinks {
    justify-content: flex-start;
    align-items: flex-start;
    width: 33%;
    .item {
      &__text {
        padding: 0;
      }
    }
  }
  &__drinks--img {
    width: 33%;
  }
}
